{# Cart submit order #}
{% extends 'base.html' %}
{% load staticfiles %}
{# Search block #}
{% block search_bar %}
    <div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo02.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{% block page_title %}{% endblock %}</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="Search...">
			<input type="button" class="input_btn fr" name="" value="Search">
		</div>
	</div>
{% endblock %}
